<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--<add key="FirebaseToken" value="AIzaSyA3LGLgBNc9mxQEPDqSg9GzqKhsIUtW0lI"/>-->
    <!--<add key="FirebaseUrl" value="https://dhub-4bd37.firebaseio.com/"/>-->
    <add key="FirebaseToken" value="AIzaSyDQh-olhmxeeiSlXONEqCPVZFmp-yzySO8"/>
    <add key="FirebaseUrl" value="https://bimsphere-adc0f.firebaseio.com/"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
